
email_handler/.idea/modules.xml
email_handler/.idea/misc.xml
email_handler/.idea/python_sync_article_from_email.iml
email_handler/.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/python-scripts.iml
.idea/workspace.xml
